$brand-color-1: #06121E;
$brand-color-2: #040f1a;
$brand-color-3: #0c2135;
$brand-color-4: #090d11;
$brand-color-5: #06090c;
$brand-color-6: #06090c;

$neutral-color-1: #232224;
$neutral-color-2: #161617;
$neutral-color-3: #353436;
$neutral-color-4: #ffffff;
$neutral-color-5: #EDEAEF;
$neutral-color-6: #fefbff;

$auxiliar-color-1: #D94140;
$auxiliar-color-2: #b42b2b;
$auxiliar-color-3: #d34040;