header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    color: $neutral-color-4;
}

.header-icons{
    display: flex;
    gap: 12px;
}

.header-icons a:hover{
    i{
        color: $auxiliar-color-1;

        animation: translate-y 0.8s infinite alternate  ;
    }
}

@keyframes translate-y {
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 12px;
}

.header-button{
    padding: 8px 24px;

    background-color: transparent;
    color: $neutral-color-4;

    border: 1px solid $neutral-color-4;
    border-radius: 4px;

    text-align: center;
    transition: background-color 0.4s;

    &:hover{
        background-color: $auxiliar-color-1;
        border: 1px solid $auxiliar-color-1;
    }
}

@media screen and (max-width: 768px) {
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i{
            margin-top: 16px;
            font-size: 32px;
        }
    }

    .header-logo img{
        width: 160px;
        margin-top: 48px;
    }

    .header-button{
        display: none;
    }
}