*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "partials/colors";
@import "partials/header";
@import "partials/layout";
@import "partials/about";
@import "partials/services";
@import "partials/footer";

body{
    font-family: 'Sora', sans-serif;
    height: 100vh;
    position: relative;

    background: $brand-color-1;
}

button{
    cursor: pointer;
    font-family: 'sora', sans-serif;
}

svg{
    width: 100%;
}

img{
    width: 100%;
}

a{
    cursor: pointer;
    text-decoration: none;
}